.header {
  min-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 65px;
  position: relative;

  .button {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      margin: 0;
    }
  }

  &__menu-icon {
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &__close-icon {
    display: none;
  }

  &__logo {
    width: 36%;
  }

  &__nav {
    &--show {
      transition: all 0.3s ease;
      position: absolute;
      background: white;
      top: 92px;
      width: 100%;
      text-align: center;
      opacity: 1;
      border-radius: 5px;
    }

    @media (max-width: $tablet) {
      transition: all 0.3s ease;
      position: absolute;
      background: white;
      top: 85px;
      width: 100%;
      text-align: center;
      opacity: 0;
    }

    @media (min-width: $desktop) {
      text-align: center;
    }
  }

  &__nav-list {
    padding: 1.5rem 0;

    @media (min-width: $desktop) {
      display: flex;
      justify-content: center;
    }
  }

  &__nav-item {
    margin: 1.2rem 0;
    font-weight: 700;
    color: $dark-blue;
    transition: color 0.1s linear;
    @media (min-width: $desktop) {
      margin: 0 1.2rem;

      &:hover {
        color: $dark-grayish-blue;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    min-height: 22px;
  }

  &__logo {
    max-width: 150px;
  }
}
