.header {
  min-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 65px;
  position: relative;

  &__close {
    display: none;
  }

  &__logo {
    width: 36%;
  }

  &__nav {
    transition: all 0.3s ease;
    position: absolute;
    background: white;
    top: 85px;
    width: 100%;
    text-align: center;
    opacity: 0;

    &--show {
      transition: all 0.3s ease;
      position: absolute;
      background: white;
      top: 92px;
      width: 100%;
      text-align: center;
      opacity: 1;
      border-radius: 5px;
    }

    // @media (max-width: 1024px) {
    //   height: 0;
    //   opacity: 0;
    // }
  }
  &__nav-list {
    padding: 1.5rem 0;
  }
  &__nav-item {
    margin: 1.2rem 0;
    font-weight: 700;
    color: $dark-blue;
  }
}
