#grid-container.main-background {
  background-image: url('../../../images/bg-tablet-pattern.svg'),
    url('../../../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: 56px -120px, 242px 520px;
  background-size: 460px, 300px;
  @media (min-width: 1024px) {
    background-position: 680px -54px, -70% 49%;
    background-size: 650px;
  }
}
