@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
}

* {
  min-height: 0;
  min-width: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

li,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: white;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 700;
  color: $dark-blue;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
}

p {
  color: $dark-grayish-blue;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
  margin: 1rem 0;
}

.reviews .slider-container {
  margin-bottom: 4rem;
}
